$main-color: #159957;
$second-color: #e0e0e0;

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

textarea:focus,
input:focus {
    outline: none;
}

html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    color: $main-color;
}

.container {
    width: 400px;
    margin: 0 auto;
}

.ac-input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid $second-color;
    font-size: 16px;
    font-family: sans-serif;
    transition: all .3s;
    @include placeholder {
        color: $second-color;
    }
}

.ac-input:focus {
     border-bottom: 2px solid $main-color;
     @include placeholder{
         opacity: 0;
         transition: opacity .3s ease;
     }
}

.ac-suggest {
    width: 100%;
    padding: 10px 0;
    margin: 0;
}

.ac-suggest-row {
    list-style-type: none;
    border: 1px solid $second-color;
    padding: 10px 20px;
    margin-bottom: -1px;
    transition: .25s;
    cursor: pointer;
}

.ac-suggest-row:hover {
    background-color: $second-color;
    text-decoration: underline;
}